.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
  font-size: 20px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list-item:hover {
  color: rgb(29, 221, 255);
}

.click-item {
  color: rgb(29, 221, 255);
}
